@import "../../common/Constants.scss";

.app-content-container {
    background-color: $veryLightGray;
    height: 100%;
}

.app-content-subcontainer {
    width: 800px;
    margin: 0 auto;
    padding-top: 10px; 
    height: 100%;
}