@import "../../../../common/Constants.scss";

.suggestions-container {
    padding: 10px;

    .suggestions-title {
        margin-bottom: 20px;

        .suggestion-icon {
            color: #25b7d3;
            vertical-align: middle;
        }

        .suggestion-text {
            vertical-align: middle;
        }
    }

    .suggestions-content {
        .group-card-container {
            margin: 10px 0px;
        }

        .no-suggestion {
            color: $darkGray;
            font-size: 11px;
            font-style: italic;
        }
    }
}