@import "../../../../common/Constants.scss";

.feed-event-container {
    .component-container {
        .feed-item-container {
            display: flex;
            background-color: $white;

            .feed-user-picture {
                margin: 5px;
                width: 40px;
                height: 40px;
                border-radius: 100px;
                border: 1px solid $white;
                object-fit: cover;
            }

            .feed-content {
                margin: 10px;
                flex: auto;
                margin-right: 45px;

                .feed-content-title {
                    font-size: 14px;

                    .feed-content-title-user {
                        color: $primaryColor;
                        font-weight: 600px;
                    }

                    .feed-content-title-user:hover {
                        cursor: pointer;
                        text-decoration: underline;
                    }
                }

                .feed-content-date {
                    font-size: 10px;
                    color: $gray;
                }

                .feed-card-container {
                    margin-top: 10px;
                }
            }
        }
    }
}