@import "../../../../common/Constants.scss";

.mygroups-container {

    .mygroups-title {
        color: $primaryColorLight;
        font-size: 17px;
        font-weight: 600;
    }

    .mygroups-groupl-list-container {
        margin-top: 10px;
        
        .group-display-container {
            display: inline-block;
            width: 100px;

            .image-container {
                height: 60px;
                width: 60px;
                border-radius: 500px;
                overflow: hidden;
                margin-left: 20px;
                margin-bottom: 10px;

                img {
                    height: 60px;
                    width: 60px;
                }
            }

            .name {
                height: 20px;
                width: 100%;
                text-align: center;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                font-size: 12px;
            }

            .create-group-button-container {
                height: 60px;
                width: 60px;
                border-radius: 500px;
                border: 1px solid $lightGray;
                overflow: hidden;
                margin-left: 20px;
                margin-bottom: 10px;
                background-color: #dbdbdb;
                cursor: pointer;
                position: relative;

                .create-group-icon {
                    color: $primaryColor;
                    font-size: 30px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform:translate(-50%, -50%);
                }
            }

            .create-group-button-container:hover {
                background-color:#fcfcfc;

                .create-group-icon {
                    color: $primaryColor;
                }
            }
        }
    }
}

.dialog-new-group {
    .new-group-dialog-title {
        text-align: center;
    }

    .diaog-create-button {
        color: $primaryColor;
    }

    .diaog-cancel-button {
        color: $gray;
    }

    .dialog-new-group-container {
        .dialog-new-group-picture-picker-container {
            .dialog-new-group-picture-picker-icon-container {
                height: 100px;
                width: 100px;
                border: 2px solid $lightGray;
                border-radius: 500px;
                overflow: hidden;
                margin-left: 20px;
                margin-bottom: 10px;
                background-color: #dbdbdb;
                cursor: pointer;
                position: relative;
                margin: auto;

                .dialog-new-group-picture-picker-icon {
                    color: $primaryColor;
                    font-size: 40px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform:translate(-50%, -50%);
                }
            }

            .dialog-new-group-picture-picker-icon-container:hover {
                background-color:#fcfcfc;

                .dialog-new-group-picture-picker-icon {
                    color: $primaryColor;
                }
            }

            .dialog-new-group-picture-picker-description {
                width: 100%;
                text-align: center;
                margin-top: 5px;

                .dialog-new-group-picture-picker-description-text {
                    display: inline-block;
                    font-size: 11px;
                    color: $gray;
                    width: 150px;
                }
            }
        }

        .dialog-group-name-container {
            text-align: center;
            width: 100%;
            margin-top: 10px;

            .dialog-group-name-textfield {
                width: 300px;

                label  {
                    font-size: 15px;
                }
            }
        }

        .dialog-group-invite-friend {           
            margin-top: 30px;

            .invite-friend-title {
                text-align: center;
                font-size: 17px;
                color: $primaryColorLight;
                font-weight: 600;
            }

            .invite-friend-scroll {
                width: 400px;
                height: 200px;
                overflow-y: scroll;
                overflow-x: hidden;
                margin: auto;
                border: 1px solid $lightGray;
                margin-top: 10px;

                .friend-container {
                    padding: 10px;

                    .friend-profil-picture {
                        display: inline-block;
                        width: 40px;
                        height: 40px;

                        .friend-profil-picture-image {
                            width: 40px;
                            height: 40px;
                            border-radius: 50px;
                        }
                    }

                    .friend-details {
                        display: inline-block;
                        margin-left: 15px;
                        vertical-align: top;

                        .friend-details-name {
                            font-weight: 600;
                            font-size: 15px;
                        }

                        .friend-details-additional {
                            font-size: 11px;
                            color: $gray;
                            margin-top: 3px;
                        }
                    }

                    .friend-check {
                        display: inline-block;
                        float: right;

                        .friend-checkbox {
                            color: $primaryColor;
                        }
                    }
                }
            }
        }
    }
}