@import "../../../../common/Constants.scss";

.mygroups-container {

    .mygroups-title {
        color: $primaryColorLight;
        font-size: 17px;
        font-weight: 600;
    }

    .mygroups-groupl-list-container {
        margin-top: 10px;
        
        .group-display-container {
            display: inline-block;
            width: 100px;

            .image-container {
                height: 60px;
                width: 60px;
                border-radius: 500px;
                overflow: hidden;
                margin-left: 20px;
                margin-bottom: 10px;

                img {
                    height: 60px;
                    width: 60px;
                }
            }

            .name {
                height: 20px;
                width: 100%;
                text-align: center;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                font-size: 12px;
            }

            .create-group-button-container {
                height: 60px;
                width: 60px;
                border-radius: 500px;
                border: 1px solid $lightGray;
                overflow: hidden;
                margin-left: 20px;
                margin-bottom: 10px;
                background-color: #dbdbdb;
                cursor: pointer;
                position: relative;

                .create-group-icon {
                    color: $primaryColor;
                    font-size: 30px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform:translate(-50%, -50%);
                }
            }

            .create-group-button-container:hover {
                background-color:#fcfcfc;

                .create-group-icon {
                    color: $primaryColor;
                }
            }
        }
    }
}

.dialog-new-group-container {
    .dialog-new-group-picture-picker-container {
        .dialog-new-group-picture-picker-icon-container {
            height: 100px;
            width: 100px;
            border: 2px solid $lightGray;
            border-radius: 500px;
            overflow: hidden;
            margin-left: 20px;
            margin-bottom: 10px;
            background-color: #dbdbdb;
            cursor: pointer;
            position: relative;
            margin: auto;

            .dialog-new-group-picture-picker-icon {
                color: $primaryColor;
                font-size: 40px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform:translate(-50%, -50%);
            }
        }

        .dialog-new-group-picture-picker-icon-container:hover {
            background-color:#fcfcfc;

            .dialog-new-group-picture-picker-icon {
                color: $primaryColor;
            }
        }

        .dialog-new-group-picture-picker-description {
            width: 100%;
            text-align: center;

            .dialog-new-group-picture-picker-description-text {
                display: inline-block;
                font-size: 9px;
                color: $gray;
                width: 150px;
            }
        }
    }
}